#partners-section {
  padding: 100px 0;
}
.partner-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
}
.partner-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
#partners-section .swiper {
  position: relative;
  height: 200px;
}
#partners-section .swiper-pagination {
  position: absolute;
  bottom: 10px;
}
#partners-section .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 8px;
}
#partners-section .swiper-pagination-bullet-active {
  background-color: #ea5520;
}
