/* 공통 */
.dabong-text-orange {
  color: #ea5520;
}
.dabong-bg-orange {
  background-color: #ea5520;
}
/* 그리드 메뉴 및 파트너 공통 */
.orange-bar {
  width: 50px;
  height: 5px;
  background-color: #ea5520;
  margin-bottom: 30px;
}
.dabong-common h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.dabong-common h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #626262;
  margin-bottom: 30px;
}
.dabong-common .section-btn {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 3.5rem;
  /* width: auto; */
  padding: 0.5rem 1rem;
  height: 40px;
  background-color: #fff;
  /* margin-bottom: 100px; */
}

/* 그리드 메뉴부분 */
#grid-menu {
  margin-top: 100px;
}
#grid-menu img {
  width: 400px;
  margin: 1rem;
  transition: 0.5s;
}
/* #grid-menu .explain-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  transition: 0.5s;
} */
#grid-menu .explain-text {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
#grid-menu .explain-item:hover > a > img {
  filter: brightness(50%);
}
#grid-menu .explain-item:hover .explain-text {
  opacity: 1;
}
